body {
  color: #484848;
  font-family: Arial; }
  body h1 {
    color: #484848;
    font-size: 36px;
    font-family: Arial;
    text-shadow: 1px 1px 1px #a8a7a7;
    filter: dropshadow(color=#a8a7a7, offx=1, offy=1);
    display: inline;
    float: left; }
  body h2 {
    color: #484848;
      color-font-size: 30px;
      color-font-family: Arial;
    text-shadow: 1px 1px 1px #a8a7a7;
    filter: dropshadow(color=#a8a7a7, offx=1, offy=1); }
  body a {
    color: #484848;
    font-weight: bold;
    text-shadow: 1px 1px 1px #a8a7a7;
    filter: dropshadow(color=#a8a7a7, offx=1, offy=1); }
    body a img {
      border: 0 none; }
  body img {
    vertical-align: middle; }
  body .notice {
    border: 1px solid yellow;
    padding: 20px;
    margin: 10px 0;
    display: none;
    background: #ffffdf;
    width: 500px; }
  body .alert {
    border: 1px solid red;
    padding: 20px;
    margin: 10px 0;
    display: none;
    background: #ffdfdf;
    width: 500px; }
  body .clear {
    clear: both; }

#header {
  clear: both;
  height: 80px;
  margin-top: 20px; }
  #header .logo h1 a {
    text-decoration: none; }
  #header .usernav {
    float: right; }
    #header .usernav a {
      color: #484848;
      font-size: 18px;
      font-family: Arial;
      font-weight: bold;
      text-shadow: 1px 1px 1px #a8a7a7;
      filter: dropshadow(color=#a8a7a7, offx=1, offy=1);
      padding: 0 5px; }
    #header .usernav #myactions {
      background: #484848;
      color: white;
      padding: 8px;
      margin: 8px 0 0 18px;
      display: block;
      text-decoration: none;
      width: 270px; }
    #header .usernav #actions {
      background: white;
      border: 1px solid #484848;
      padding: 5px;
      display: none;
      margin: 0 0 0 18px;
      position: absolute;
      width: 274px;
      z-index: 100; }
      #header .usernav #actions a {
        font-size: 16px; }

#banner {
  float: left; }

#slider h1 {
  margin: 20px 0;
  float: none;
  display: block; }
#slider .tab {
  padding: 0 30px; }
#slider p {
  margin-left: 30px; }

#social {
  margin: 0 0 5px;
  height: 200px; }
  #social a {
    text-decoration: none; }

#content {
  margin-top: 30px; }

#main-content {
  float: left; }

#sidebar {
  float: right; }

#footer .contact {
  text-align: right;
  float: right; }
