#banner.grid_17.alpha
  #slider
    %ul
      %li
        .tab
          %h2 Live Now
          %p - Event Name  ~ Descripion of the event, he name of the host.
          %p - Event Name  ~ Descripion of the event, he name of the host.
          %p - Event Name  ~ Descripion of the event, he name of the host.
          
      
      %li
        .tab
          %h2 Comming up NEXT!
          %p - Event Name  ~ Descripion of the event, he name of the host.
          %p - Event Name  ~ Descripion of the event, he name of the host.
          %p - Event Name  ~ Descripion of the event, he name of the host.
                
.clear

#main-content-index.grid_17.alpha
  %h2 Last events submited
  %p - Event Name  ~ Descripion of the event, he name of the host.
  %p - Event Name  ~ Descripion of the event, he name of the host.
  %p - Event Name  ~ Descripion of the event, he name of the host.
  %p - Event Name  ~ Descripion of the event, he name of the host.
  %p - Event Name  ~ Descripion of the event, he name of the host.
  %p - Event Name  ~ Descripion of the event, he name of the host.
  %p - Event Name  ~ Descripion of the event, he name of the host.
  %p - Event Name  ~ Descripion of the event, he name of the host.
  %p - Event Name  ~ Descripion of the event, he name of the host.
  %p - Event Name  ~ Descripion of the event, he name of the host.

  #paginate
   